@import "tailwindcss";

:root {
  --primary: #1b2135;
  --secondary: #0c0f1a;
  --supp1: #c170e8;
  --supp2: #4173cc;
  --supp3: #27bce0;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  height: 100vh;
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}
