@import "tailwindcss";

:root {
  --primary: #1b2135;
  --secondary: #0c0f1a;
  --supp1: #c170e8;
  --supp2: #4173cc;
  --supp3: #27bce0;
  --hoverSide: #20273d;
}
*{
  box-sizing: border-box;
  transition: background-color 0.3s ease 0.2s;
}
html, body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: var(--secondary);
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
